<%= javascript_include_tag "pages/analytics", type: "module" %>
<h1>Analytics</h1>
<p>This most searched keywords by all users</p>
<div id="analytics-table"></div>
<div id="my-loader" class="ldld full"></div>
