<%= stylesheet_link_tag "pages/home", media: "all", "data-turbo-track": "reload" %>
<%= javascript_include_tag "pages/home", type: "module" %>

<div class="search-container">
  <input type="text" id="search-input" placeholder="Search something..." />
</div>
# <div id="example-table"></div>
<div id="results"></div>